@tailwind preflight;
@tailwind components;
@tailwind utilities;

.parallax {
    background-image: url(/img/bg/toorusr@1m0.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (max-width: 576px) {
    .parallax {
        background-size: 100%;
    }
}
